ul#atividades {
    width: 400px;
    margin: 0 auto; 
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

ul#atividades li {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid var(--color02);
    background-color: var(--color04);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    transition: all .4s ease-in;
}

ul#atividades li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 190px;
    padding: 5px;
}

ul#atividades li:hover {
    transform: scale(1.5);

}

ul#atividades li:hover span {
    opacity: 1;
}

ul#atividades li#atv04 {
    background: url('../aulas/aula04/ex001.html') no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;
}

ul#atividades li#atv04:hover {
        background-position: 0px 0px;
        background-size: 100px 100px;
}

ul#atividades li#atv02 {
    background: url('../imagens/galeria-02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#atividades li#atv02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}