@charset "UTF-8" ;

:root {

    --color01: #08595A;
    --color02: #36332A;
    --color03: #E7E9E8;
    --color04: #516373;
    --color05: #ffffff; 
    --color06: #000000; 
}


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color01);
    color: var(--color01);
    margin-top: 70px;
}

div#interface {
    width: 950px;   
    background-color: var(--color05) ;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    height: 900px;
    padding-bottom: 15px;
}

/*----CABEÇALHO----*/

header#cabecalho {
    border-bottom: 1px #0B2B40;
    background-image: url('../imagens/pexels-fauxels-3182774.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

div#cabl {
    background-color: #E7E9E8;
    opacity: 0.8;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
}

header#cabecalho h1 {
    font-size: 30px;
    color: var(--color04);
    text-shadow: 2px 2px 2px var(--color03);
    padding: 0px;
    margin: 0px auto;
}

/*----BODY----*/

section#corpo {
    display: block;
    width: 460px;
    float: left;
    padding-right: 15px;
    
}

/*----PRINCIPAL----*/

article#atvdestaque h2 {
    font-size: 15pt;
    color: var(--color02);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    
}

article#atvdestaque p {
    font-size: 13pt;
    color: var(--color02);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    
}

/*----LATERAL----*/

section#lateral1 {
    display: block;
    width: 453px;
    height: 725px;
    float: right;
    background-color: var(--color01);
    padding: 0px 10px;
    margin-top: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-left: 1px solid var(--color03);
    margin-bottom: 15px;
}

section#lateral1 h2 {
    font-size: 15pt;
    color: var(--color03);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

section#lateral1 p {
    font-size: 13pt;
    color: var(--color03);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

/*----LISTA---*/

ul {
    display: block;
    list-style: none;
    text-transform: uppercase;
    margin-left: -30px;
}

ul li {
    display: inline-block;
    border: 1px solid var(--color03);
    background-color: var(--color04);
    opacity: 0.9;
    width: 120px;
    height: 32px;
    padding: 1px;
    margin: 2px;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
}

a {
    text-decoration: none;
    color: var(--color03);
}

a:hover {
    text-decoration: underline;
    color: var(--color03);
    font-weight: bolder;
}

/*----FRAME----*/

iframe {
    width: 450px;
    height: 450px;
    overflow: scroll;
}

/*----FOOTER----*/

footer#rodape {
    clear: both;
    border-top: 1px solid var(--color01);
    padding: 10px;
    background-color: var(--color01);
    color: var(--color03)
}

footer#rodape p {
    text-align: center;
    margin: auto;
}

p#yas {
    display: block;
    width: 460px;
    padding: 0%;
    margin: auto;
    text-align: center;
    text-indent: 0px;
    }

p#yas a {
    text-decoration: none;
    color: var(--color03);
    }
        
p#yas a:hover {
    text-decoration: underline;
    }

p#clear {
    clear: both;
}

 