ul#pratica {
    width: 400px;
    margin: 0 auto; 
    margin-bottom: 50px;
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

ul#pratica li {
    float: left;
    width: 100px;
    height: 100px;
    margin: 30px;
    margin-bottom: 60px;
      
    border: 5px solid var(--color02);
    background-color: var(--color04);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    transition: all .4s ease-in;
}

ul#pratica li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,.3);
    font-size: 8pt;
    line-height: 0px;
    margin-left: 8px;
    padding: 5px;
}

ul#pratica li:hover {
    transform: scale(1.5);
    border: none;
}

ul#pratica li:hover span {
    transform: scale(1.5);
    opacity: 1;
}

iframe {
    width: 100px;
    height: 100px;
    overflow: scroll;
}